<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >

    <style>

    </style>
  </head>
  <body>
    <div class="container">
      <div class="options-box list-view">
        <h1>Discover places in Mountain View, CA</h1>
        <div>
          <label for="filter">Filter Places:</label>
          <input id="filter" type="text" data-bind="textInput: filterQuery">
        </div>

        <div class="list-view">
          <ul id="places-list" data-bind="foreach: placesList">
            <li data-bind="text: name, visible: isVisible, click: $parent.setCurrentPlace"></li>
          </ul>
        </div>
      </div>
      <div id="map"></div>
    </div>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='knockout-3.4.2.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
